.add > h2 {
    color: $link-hover;
    font-size: 1.25rem;
}

.add__form {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    column-gap: 5px;
    @include mq(600px) {
        grid-template-columns: 90% 10%;
    }
}

.add__form label {
    position: absolute;
    left: -1000px;
}

.add__inputs {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.add__inputs > input,
.add__inputs > textarea,
.add__inputs > select {
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid $border-color;
    resize: none;
}

.add__inputs > select {
    border-bottom: none;
}

.add__addItem {
    grid-column-start: 2;
    grid-column-end: 3;
    visibility: hidden;
    @include flexCenter;
}

.filldetails{
    color: $inverse-font-color;
    font-size: 1rem;
    background: $header-color;
    border: 1px solid $header-color;
    border-radius: 10px;
    padding: .15rem;
    outline: none;
}

.add-button {
    height: 100%;
    width: 100%;
    color: $inverse-font-color;
    font-size: 1rem;
    background: $header-color;
    border: 1px solid $header-color;
    border-radius: 10px;
    padding: 0.25rem;
    outline: none;
}

.add-button:focus,
.add-button:hover {
    box-shadow: 5px 2px 5px $shadow-color;
}

.add-button:active {
    transform: (1px, 2px);
    box-shadow: 1px 1px 0 $font-color;
}