$body-bg: whitesmoke;
$main-bg: #fff;
$border-color: #000;
$shadow-color: rgba(136,136,136,0.5);
$link-color: #f6ba52;
$header-color: #f6ba52;
$link-hover: #d08504;
$remove-button: orangered;
$font-color: #000;
$inverse-font-color: #fff;
$go-button: #000;